* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
  }

.left-menu {
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 23.5%;
    display: inline-flex;
    justify-content: space-evenly;
}

.cont-logo {
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 50%;
}

.logo { 
    width: 90px;
    height: 75px;
}

.right-menu {
    display: inline-block;
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 23.5%;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 7%;
}

.iconos {
    color: rgb(68, 196, 132);
}

/* -------------------------------------------------------------------------------- */

/* main */

#main-carrito {
    width: 95vw; 
    margin: auto;
}

.producto-seleccionado {
    width: 90%;
    height: auto;
    background-color: #FFE1EA;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    margin: 1%;
    

}

.nombre-producto-seleccionado {
    width: 100%;   
    text-align: center;
    padding-top: 5px;
    font-size: medium;
    color: #202020;
    
  
}

.contenedor-imagen-producto-seleccionado {
    background-color: #FFE1EA;
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: center;
    
    
}

.imagen-producto-seleccionado {
    width: 30%;
    height: auto;
    
}

.detalle-compra-padre {
    margin-top: 5px;
    margin-bottom: 2px;
}

.detalle-compra-hijo {
    width: 160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.detalle-compra-hijo-2 {
    width: 160px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cantidad-producto-seleccionado {
    width: 18px;
}

.cantidad-producto-seleccionado { 
    width: 30px;
}

.sticky{
  
  position : sticky;
  bottom:0;
  font-size: 30px;
  color: white;
  background-color:  #577399;
  opacity: 0.8;
  margin-top: 5%;
  width: 100%;
  padding-top: 2%;
  
}

.descartar-compra {   
    color: black;
    margin-left: 23px; 
}

.confirmar-compra {
    margin-right: 60px;
}

/* ---------------- */

.total-compra {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#texto-importe-total {
    color: #FFE1EA;
    display: none;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

#importe-total {
    color: #FFE1EA;
    font-size: 20px;
    margin-right: 50px;

}

.main-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#cancel-button {
    background-color: rgb(43, 35, 35);
    color: #f3f3f3;
    font-size: 12px;
    padding: 10px 2.0075px;
    border-radius: 7px;
    
}

#more-products-button,
#confirm-button {
    background-color: rgb(68, 196, 132);
    color: #f3f3f3;
    font-size: 12px;
    padding: 10px 7px;
    border-radius: 7px;
}

#more-products-button a,
#confirm-button a {
    color: #f3f3f3;
    text-decoration: none;
}


.main-separador {
    background-color: rgba(54, 46, 46, 0.534);
    width: 70%;
    height: 2px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-separador2 {
    display: none;
    background-color: rgba(54, 46, 46, 0.534);
    width: 70%;
    height: 2px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-separador3 {
    display: none;
    background-color: rgba(54, 46, 46, 0.534);
    width: 70%;
    height: 2px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ------------------------------------------- */

/* footer */





@media (min-width: 780px) {
    
    #productos-seleccionados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .producto-seleccionado {                   
            width: 50%;
    }

    /* .main-separador {
        display: none;
    } */

    .main-separador2 {
        display: block;
    }

}

 
@media (min-width: 1170px) {

    .producto-seleccionado {                      
            width: 33%;
    }

    .main-separador1,
    .main-separador2 {
        display: none;
    }
    
    .main-separador3 {
        display: block;
    }
} 